<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Inlämningsuppgift 5 - Joakim Levin - INDEX</title>
	</head>

    <body>
        <form action="/done" method="post" id="add-person">

			<input type="text" name="firstname"> First name<br>
			<input type="text" name="lastname"> Last name<br>
			<input type="number" name="personnumber"> Person-number<br>
			<input type="text" name="email"> E-mail<br>
			<input type="text" name="adress"> Adress<br>
            <input type="text" name="comment"> Comment<br>

            <input type="submit" value="Submit"><br>
        </form>

    </body>
</html>