<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PAGE NOT FOUND - Inlämningsuppgift 6 - Joakim Levin</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>


    <body>
        <!-- " Global navigation " -->
        <a href="{{ url_for('index') }}"><button type="button" class="btn btn-primary">Home</button></a>
        <a href="{{ url_for('library') }}"><button type="button" class="btn btn-primary">Library</button></a>
        <a href="{{ url_for('add_book') }}"><button type="button" class="btn btn-primary">Add a new book</button></a>

        <div class="page-header">
            <h1>You found a missing page... thanks...</h1>
        </div>

    </body>

</html>